<footer class="footer">
  <div class="section-name">

   <section class="first-team">
    <h1 class="name">Roxana Solano</h1>
    <h3 class="roles">Es nuestra directora de evento.</h3>
    <p class="description">Ella te dará la solución de todas tus dudas, es mejor que preguntarle a ChatGPT</p>


    <h1 class="name">Cande Zamora</h1>
    <h3 class="roles">Es nuestra coordinadora de evento.</h3>
    <p class="description">Con ella la organización sera mejor que una fila de domino</p>
  </section>
  <section class="two-team">
    <img class="photo-cris" src="/images/cris.jpg" alt="Cristina">
    <h1 class="name">Cristina Gómez</h1>
    <h3 class="roles">Es nuestra responsable de marketing y comunicación.</h3>
    <p class="description">Te contará todo al detalle,tiene mas vocabulario que el propio diccionario.</p>


    <img class="photo-yoli" src="/images/yoli.png" alt="Yolanda">
    <h1 class="name">Yolanda Barquero</h1>
    <h3 class="roles">Es nuestra diseñadora de eventos.</h3>
    <p class="description">Con ella no te faltará detalle alguno,no se le escapa ni un confeti.</p>
    </section>

  </div>
  <section class="info"></section>
  &copy; Todos los derechos reservados
  <h5 class="heart-icon">Hecho con mucho amor  &#X2665;</h5>
</section>




</footer>