<header>
  <section class="page_header">
    <img src="/images/logo_editado.png" alt="logo de la empresa" class="logo" />
    <img src="/images/menu.png" alt="icono menú" class="menu" />
  </section>

  <section class="menu_overview hidden">
    <article class="titles">
      <span class="title_company"> Adalab </span>
      <span class="title_group"> grupo 2 </span>
    </article>
    <nav class="links_header">
      <a href="#" class="form_link"> Formulario </a>
      <a href="#" class="contact_link"> Contacto </a>
    </nav>
    <img
      src="/images/cerrar_icono.png"
      alt="icono de cerrar la ventana"
      class="close_window"
    />
  </section>
</header>
