@use "./_header.scss"; 
@use "./_main.scss";
@use "./_footer.scss";

.twinkle-star-regular {
    font-family: "Twinkle Star", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .ole-regular {
    font-family: "Ole", cursive;
    font-weight: 400;
    font-style: normal;
  }
  body{
    margin: 0px;
  }

  header,
  main {
    background-image: url(../images/background.jpg);
  }


